#footer-container {
    display: flex;
    justify-content: center;
    height: 100px;
    background-color:#101628;;
    border-top: 2px solid #f8a218;
    #footer {
        display: flex;
        height: 100%;
        align-items: center;
        text-align: center;
        padding: 0 15px;
        p {
            color: white;
            margin: 0;
            font-weight: 600;
        }
    }
}