* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#373637, #191518);
}

.active {
    border-bottom: 0.5px solid black;
    transition:  all 2s ease-in-out;
}