#languages-container {
    display: flex;
    width: 100%;
    justify-content: center;
    height: auto;
    #languages {
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 84%;
        gap: 60px;

        h2 {
            color: white;
            font-size: 40px;
        }
        div {
            display: flex;
            flex-direction: column;
            gap: 50px;
            align-items: center;

            #spanish {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
                img {
                    margin: 0;
                    height: 60px;
                    width: 60px;
                }
                div {
                    p {
                        color: white;
                        margin: 0;
                    }
                }
            }
            #english {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 15px;
                img {
                    margin: 0;
                    height: 60px;
                    width: 60px;
                }
                div {
                    p {
                        color: white;
                        margin: 0;
                    }
                }
            }
        }

    }
}

@media (min-width: 768px) {
    #languages-container {
        #languages {
            div {
                flex-direction: row;
                #spanish {
                    flex-direction: row;
                    div {
                        p {
                            font-size: 23px;
                        }
                    }
                }
                #english {
                    flex-direction: row;
                    div {
                        p {
                            font-size: 23px;
                        }
                    }
                }
            }
        }
    }
}