#nav-bar {
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    transition-delay: 3s;
    min-height: 70px;
    border-bottom: 0.5px solid black;
}
@media (min-width: 992px) {

    #basic-navbar-nav {
        #sections {
            width: 100%;
            display: flex;
            justify-content: flex-end;
        }
    }
}
